<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>행사/안내</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>

<table>
    <tr>
        <th>title</th>
        <th>type</th>
        <th>writer</th>
        <th>regdate</th>
        <th>view</th>
    </tr>
    <tr th:each="i : ${events}">
        <td th:style="${'min-width:200px'}" th:text="${i.title}"></td>
        <td th:text="${i.type}"></td>
        <td th:text="${i.writer}"></td>
        <td th:text="${i.regdate}"></td>
        <td th:text="${i.view}"></td>
    </tr>
</table>
</body>
</html>