<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>강남대</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>
    <table >
        <tr>
            <th>id</th>
            <th>date_start</th>
            <th>date_end</th>
            <th>schedule</th>
        </tr>
        <tr th:each="i : ${test}">
            <td th:text="${i.id}"></td>
            <td th:text="${i.date_start}"></td>
            <td th:text="${i.date_end}"></td>
            <td th:text="${i.schedule}"></td>
        </tr>
    </table>
</body>
</html>