<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>강남대</title>
    <link rel="stylesheet" href="style.css">
    <script th:inline="javascript">
        function checkedLike() {
            var id = [[${notice.id}]];
            fetch("http://localhost:8080/like/click", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                },
                body: JSON.stringify({
                    noticeId: id
                }),
            }).then((response) => console.log(response));
            setTimeout(function() {
                window.location.href = window.location.href;
            }, 50); 
        }
    
    </script>
</head>
<body>

<table>
    <tr>
        <th>id</th>
        <th>boardid</th>
        <th>title</th>
        <th>type</th>
        <th>major</th>
        <th>writer</th>
        <th>regdate</th>
        <th>view</th>
        <th>body</th>
        <th>img</th>
    </tr>
    <tr th:each="i : ${notice}">
        <td th:text="${i.id}"></td>
        <td th:text="${i.boardId}"></td>
        <td th:style="${'min-width:200px'}" th:text="${i.title}"></td>
        <td th:text="${i.type}"></td>
        <td th:text="${i.major}"></td>
        <td th:text="${i.writer}"></td>
        <td th:text="${i.regdate}"></td>
        <td th:text="${i.view}"></td>
        <td th:style="${'min-width:800px'}" th:text="${i.body}"></td>
        <td th:text="${i.img}"></td>
    </tr>
</table>

<table>
    <tr th:each="i : ${comments}">
        <td th:text="${i.user.name}"></td>
        <td th:text="${i.comment}"></td>
        <td th:text="${i.createdDate}"></td>
        <td th:text="${i.modifiedDate}"></td>
    </tr>
</table>

<button th:text="${like} ? '좋아요 취소' : '좋아요 누르기' "
        onclick="checkedLike()"></button>

<div th:text="${'Likes : ' + likesize}"></div>

</body>
</html>