<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>강남대</title>
</head>
<body>
<table>
    <tr>
        <th>id</th>
        <th>title</th>
        <th>type</th>
        <th>writer</th>
        <th>regdate</th>
        <th>view</th>
        <th>post</th>
        <th>img</th>
    </tr>
    <tr>
        <td th:text="${test.id}"></td>
        <td th:text="${test.title}"></td>
        <td th:text="${test.type}"></td>
        <td th:text="${test.writer}"></td>
        <td th:text="${test.regdate}"></td>
        <td th:text="${test.view}"></td>
        <td th:text="${test.body}"></td>
        <td th:text="${test.img}"></td>
    </tr>
</table>
<table>
    <tr th:each="i : ${comments}">
        <td th:text="${i.user.name}"></td>
        <td th:text="${i.comment}"></td>
        <td th:text="${i.createdDate}"></td>
        <td th:text="${i.modifiedDate}"></td>
    </tr>
</table>
<button th:text="${like} ? '좋아요 취소' : '좋아요 누르기' "
        th:url="${like} ? 'http://localhost:8080/like/delete' : 'http://localhost:8080/like/add'"
        th:onclick="checkedLike(this.getAttribute('url'))"
></button>

<script th:inline="javascript">
    function checkedLike(url) {
        var id = [[${test.id}]];
        fetch(url, {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify({
                noticeId: id
            }),
        }).then((response) => console.log(response));
    }

</script>
<br>
Likes:
<div th:text="${test.likeCount}"></div>
</body>
</html>