<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>강남대</title>
</head>
<body>
<button value="/"onclick="window.open(value,'_self');">전체</button>
<button value="/스포츠복지"onclick="window.open(value,'_self');">스포츠복지전공</button>
<button value="/유니버설"onclick="window.open(value,'_self');">유니버설아트디자인학과</button>
<button value="/실버산업"onclick="window.open(value,'_self');">실버산업학과</button>
<button value="/사회복지"onclick="window.open(value,'_self');">사회복지학부</button>
    <table>
        <tr>
            <th>id</th>
            <th>title</th>
            <th>type</th>
            <th>major</th>
            <th>writer</th>
            <th>regdate</th>
            <th>view</th>
            <th>post</th>
            <th>img</th>
        </tr>
        <tr th:each="i : ${test}">
            <td th:text="${i.boardId}"></td>
            <td th:text="${i.title}"></td>
            <td th:text="${i.type}"></td>
            <td th:text="${i.major}"></td>
            <td th:text="${i.writer}"></td>
            <td th:text="${i.regdate}"></td>
            <td th:text="${i.view}"></td>
            <td th:text="${i.post}"></td>
            <td th:text="${i.img}"></td>
        </tr>
    </table>
    
    
</body>
</html>