<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>강남대</title>
    <link rel="stylesheet" th:href="@{/style.css}">
    <script th:src="@{/testjs.js}"></script>
</head>


<body>


<th:block th:if="${currentuser != null}">
    <p th:text="${currentuser.name}"></p>
    <p th:text="${currentuser.email}"></p>
    <a th:href="@{logout}">로그아웃</a>
</th:block>
<th:block th:if="${currentuser == null}">
    <a th:href="@{mainlogin}">로그인페이지</a>
</th:block>

<br>

<button value="/top5View" onclick="window.open(value,'_self');">조회수 Top5</button>
<button value="/as" onclick="window.open(value,'_self');">학사 크롤링</button>

<br>

<select id="MajorDropdown">
    <option value="">전체</option>
    <option th:each="item : ${majorlist}" th:value="${item}" th:text="${item}">Option Text</option>
</select>
<label for="keyword">
    <input id="keyword" type="text" required placeholder="검색어를 입력하세요">
    <button onclick="window.open('/?major=' + document.getElementById('MajorDropdown').value + '&keyword=' + document.getElementById('keyword').value,'_self');">검색</button>
</label>

<br>
<table>
    <tr>
        <th>Ranking</th>
        <th>id</th>
        <th>boardid</th>
        <th>title</th>
        <th>type</th>
        <th>major</th>
        <th>writer</th>
        <th>regdate</th>
        <th>view</th>
        <th>likeCount</th>
    </tr>
    <tr th:each="i, iterStat : ${topNotices}">
        <td th:text="${iterStat.index + 1} + '위'"></td>
        <td th:text="${i.id}"></td>
        <td th:text="${i.boardId}"></td>
        <td th:text="${i.title}"></td>
        <td th:text="${i.type}"></td>
        <td th:text="${i.major}"></td>
        <td th:text="${i.writer}"></td>
        <td th:text="${i.regdate}"></td>
        <td th:text="${i.view}"></td>
        <td th:text="${i.likeCount}"></td>
    </tr>
</table>

<table id="keywordRanking">
    <tr>
        <th>순위</th>
        <th>검색어</th>
        <th>검색수</th>
    <tr th:each="i, iterStat : ${keywords}">
        <td th:text="${iterStat.index + 1} + '위'"></td>
        <td th:text="${i.keyword}"></td>
        <td th:text="${i.counts}"></td>
    </tr>
</table>
<br>

<table>
    <tr>
        <th>id</th>
        <th>boardid</th>
        <th>title</th>
        <th>type</th>
        <th>major</th>
        <th>writer</th>
        <th>regdate</th>
        <th>view</th>
        <th>likeCount</th>
        <th>body</th>
        <th>img</th>
    </tr>
    <tr th:each="i : ${notices}">

        <td>
            <a th:href="@{read/{id}(id=${i.id})}" th:text="${i.id}"></a>
            <!-- noticedto 만들어서 notices 변수에 좋아요 눌렀는지 안눌렀는지 체크하는 boolen 넣어줘야함. -->
            <!-- <button th:text="${i.checkedLike} ? '좋아요 취소' : '좋아요 누르기' " th:onclick="post_clickLike([[${i.id}]])"></button> -->
            <button th:text="${like} ? '좋아요 취소' : '좋아요 누르기' " th:onclick="post_clickLike([[${i.id}]])"></button>
        </td>
        <td th:text="${i.boardId}"></td>
        <td th:style="${'min-width:200px'}" th:text="${i.title}"></td>
        <td th:text="${i.type}"></td>
        <td th:text="${i.major}"></td>
        <td th:text="${i.writer}"></td>
        <td th:text="${i.regdate}"></td>
        <td th:text="${i.view}"></td>
        <td th:text="${i.likeCount}"></td>
        <td th:style="${'min-width:800px'}" th:text="${i.body}"></td>
        <td th:text="${i.img}"></td>
    </tr>
</table>

<ul style="list-style:none;">
    <li style="float: left;">page</li>
    <li th:style="${'float: left; margin: 0px 5px;'}" th:each="i : ${#numbers.sequence(1, maxpage)}">
        <a th:href="@{'/?page=' + ${i}}" th:text="${i}">1</a>
    </li>
</ul>


</body>
</html>