<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>좋아요 누른 공지사항들</title>
  <link rel="stylesheet" th:href="@{/style.css}">

<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>Board ID</th>
    <th>Title</th>
    <th>Type</th>
    <th>Major</th>
    <th>Writer</th>
    <th>Reg Date</th>
    <th>View</th>
    <th>Like Count</th>
  </tr>
  </thead>
  <tbody>

  <tr th:each="i : ${likedNotices}">
    <td th:text="${i.id}"></td>
    <td th:text="${i.boardId}"></td>
    <td th:text="${i.title}"></td>
    <td th:text="${i.type}"></td>
    <td th:text="${i.major}"></td>
    <td th:text="${i.writer}"></td>
    <td th:text="${i.regdate}"></td>
    <td th:text="${i.view}"></td>
    <td th:text="${i.likeCount}"></td>
  </tr>
  </tbody>
</table>
</head>
</html>
