<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>강남대</title>
    <link rel="stylesheet" th:href="@{/style.css}">
    <script th:src="@{/testjs.js}"></script>
    <script th:src="@{/mainpage.js}"></script>
</head>


<body>
<button onClick="window.open('/','_self');">Home</button>
<button value="/top5View" onclick="window.open(value,'_self');">조회수 Top5</button>
<button value="/haksa" onclick="window.open(value,'_self');">학사 크롤링</button>
<button value="/scholarshipwiki" onclick="window.open(value,'_self');">학식</button>
<br>

<th:block th:if="${currentuser != null}">
    <button onClick="window.open('/myPage','_self');">Mypage</button>
    <button onClick="window.open('/logout','_self');">로그아웃</button>
    <p th:text="${currentuser.name}"></p>
    <p th:text="${currentuser.email}"></p>
    <p th:text="${currentuser.role}"></p>
    <p th:text="${currentuser.department}"></p>
</th:block>
<th:block th:if="${currentuser == null}">
    <a href="/oauth2/authorization/google">구글 로그인</a>
</th:block>

<br>

<input type="text" id="Confirm" name="Confirm" style="display: none" value="">

<br>

<select id="MajorDropdown">
    <option value="">전체</option>
    <option value="행사/안내">행사/안내</option>
    <option th:each="item : ${majorlist}" th:value="${item}" th:text="${item}">Option Text</option>
</select>
<label for="keyword">
    <input id="keyword" type="text" required placeholder="검색어를 입력하세요">
    <button onclick="mysearch();">검색</button>
</label>

<br>

<table id="mainTable"></table>

<ul style="list-style:none;" id="mainPageCount">
    <li style="float: left;">page</li>
</ul>

<br>
<table id="viewRankTable"></table>
<br>
<table id="likeRankTable"></table>
</body>
</html>