<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>마이페이지</title>
    <link rel="stylesheet" th:href="@{/static/style.css}">
    <script th:src="@{/static/testjs.js}"></script>
</head>
<body>

<div th:if="${currentuser.role == 'ROLE_GUEST'}">
    <div id="mail_input" name="mail_input">
        <input type="text" name="mail" id="mail" placeholder="이메일 입력">
        <button type="button" id="sendBtn" name="sendBtn" onclick="sendNumber()">인증번호</button>
    </div>
    <br>
    <div id="mail_number" name="mail_number" style="display: none">
        <input type="text" name="number" id="number" placeholder="인증번호 입력">
        <button type="button" name="confirmBtn" id="confirmBtn" onclick="confirmNumber()">이메일 인증</button>
    </div>
</div>

<br>

<div id="departmentInput">
    <label for="department">학부 선택:
        <select id="department" name="department">
            <option value="ICT공학부">ICT공학부</option>
            <option value="ICT융합공학부">ICT융합공학부</option>
            <!-- 다른 학부도 필요에 따라 추가 -->
        </select>
        
        <button onclick="saveDepartment()">학부 저장</button>
    </label>
</div>

<div>
    <p>최초로 한하여 소셜로그인이름으로 닉네임이 설정됩니다. 닉네임 미변경시 개인정보보호를 위해 변경해주세요.</p>
    <input type="text" id="inputNickname" placeholder="닉네임 입력">
    <button type="button" id="confirmBtn" onclick="setNickname()">닉네임 변경</button>
</div>

<br>

<h1>내가 좋아요한 공지사항</h1>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Board ID</th>
        <th>Title</th>
        <th>Type</th>
        <th>Major</th>
        <th>Writer</th>
        <th>Reg Date</th>
        <th>View</th>
        <th>Like Count</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="i : ${likedNotices}">
        <td th:text="${i.id}"></td>
        <td th:text="${i.boardId}"></td>
        <td th:text="${i.title}"></td>
        <td th:text="${i.type}"></td>
        <td th:text="${i.major}"></td>
        <td th:text="${i.writer}"></td>
        <td th:text="${i.regdate}"></td>
        <td th:text="${i.view}"></td>
        <td th:text="${i.likeCount}"></td>
    </tr>
    </tbody>
</table>

<h1>내가 작성한 댓글</h1>
<table>
    <thead>
    <tr>
        <th>Comment</th>
        <th>Title</th>
        <th>Created Date</th>
        <th>Modified Date</th>
        <th>Modify</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="i : ${comments}">
        <td th:text="${i.comment}"></td>
        <td>
            <a th:href="@{'/read/' + ${i.notice.id}}">
                <span th:text="${i.notice.title}"></span>
            </a>
        </td>
        <td th:text="${i.createdDate}"></td>
        <td th:text="${i.modifiedDate}"></td>
        <td><button th:onclick="commentModify([[${i.id}]])">댓글 수정</button></td>
        <td><button th:onclick="commentDelete([[${i.id}]])">댓글 삭제</button></td>
    </tr>
    </tbody>
</table>



</body>
</html>