<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>마이페이지</title>
    <link rel="stylesheet" th:href="@{/style.css}">
    <script th:src="@{/core.js}"></script>
    <script th:src="@{/myPage.js}"></script>
</head>
<body>


<div>
    <input id="mail" placeholder="이메일 입력">
    <button onclick="sendNumber()">인증번호</button>
</div>
<br>
<div id="authDiv" style="display: none">
    <input id="auth" placeholder="인증번호 입력">
    <button onclick="confirmNumber()">이메일 인증</button>
</div>

<br>

<div id="departmentInput">
    <label for="department">학부 선택:
        <select id="department" name="department">
            <option value="ICT공학부">ICT공학부</option>
            <option value="ICT융합공학부">ICT융합공학부</option>
            <!-- 다른 학부도 필요에 따라 추가 -->
        </select>
        
        <button onclick="saveDepartment()">학부 저장</button>
    </label>
</div>

<br>

<h1>내가 좋아요한 공지사항</h1>
<table id="likedTable"></table>

<h1>내가 작성한 댓글</h1>
<table id="writedCommentTable"></table>

</body>
</html>