<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>강남대</title>
    <link rel="stylesheet" th:href="@{/style.css}">
    <script th:src="@{/core.js}"></script>
    <script th:src="@{/noticebody.js}"></script>
</head>
<body>

<table id="notice"></table>

<table id="body"></table>

<table id="comments"></table>

<br>

<label>
    <textarea placeholder="댓글을 입력하세요" id="comment" cols="20" rows="5"></textarea>
    <button onclick="commentSave()">댓글 작성</button>
</label>

</body>
</html>