<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>강남대</title>
    <link rel="stylesheet" th:href="@{/style.css}">
    <script th:src="@{/core.js}"></script>
    <script>
        window.onload = function() {
            request(
                "schedule/findAll",
                {},
                function (data) {
                    let scheduleTable = $(#schedule)
                    createTable(data, scheduleTable)
                }
            )
        }
    </script>
</head>
<body>
    <table id="schedule"></table>
</body>
</html>